@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
@import "./variables.scss";

body {
    font-family: "Hind Siliguri", sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primaryFontColor;
}

.row {
    margin: 0;
}
.form {
    &-control {
        border: 1px solid $lightGrey;
        padding: 10px;
        font-size: $fontSizeSM;
        border-radius: $globalBorderRadius;
        outline: 0;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:focus {
            border: 1px solid $secondaryColor;
            box-shadow: 0 0 2px $secondaryColor;
        }
    }
    &-label {
        display: inline-block;
    }
}
