$primaryColor: #ef3742;
$secondaryColor: #00a0dd;
$lightGrey: #ccc;
$greenColor: #32cd32;

$primaryFontColor: #333;
$secondaryFontColor: #777;
$white: #fff;

$fontSizeLG: 24px;
$fontSizeMD: 18px;
$fontSizeSM: 14px;
$fontSizeXSM: 8px;

$globalBorderRadius: 5px;
